**/bin/
**/obj/
.vs/
.idea/
**/TestResults/
**/artifacts/
**/publish/
*.user
*.suo
*.db
*.db-shm
*.db-wal
*.db-journal
*.sqlite
*.sqlite3
*.sqlite-shm
*.sqlite-wal
*.sqlite-journal
*.sqlite3-shm
*.sqlite3-wal
*.sqlite3-journal
*.log
*.tmp
*.trx
*.coverage
*.coveragexml
coverage/
